<div>
  <hr>
<div class = "dropdown">
  <button (click) = "func1()">+Category</button>
  <div id = "drop1" class = "dropdown-content">
    <ul>
      <li><button class = "category" (click) = "filter('Category','Dress')">Dress</button></li>
      <li><button class = "category" (click) = "filter('Category','Kurta')">Kurta</button></li>
      <li><button class = "category" (click) = "filter('Category','Pyjama')">Pyjama</button></li>
      <li><button class = "category" (click) = "filter('Category','Sari')">Sari</button></li>
      <li><button class = "category" (click) = "filter('Category','Top')">Top</button></li>
    </ul>
  </div>
</div>
<hr>
<div class = "dropdown">
    <button (click) = "func2()">+Size</button>
    <div id = "drop2" class = "dropdown-content">
      <ul>
        <li><button class = "size" (click) = "filter('Size','S')">S</button></li>
        <li><button class = "size" (click) = "filter('Size','M')">M</button></li>
        <li><button class = "size" (click) = "filter('Size','L')">L</button></li>
        <li><button class = "size" (click) = "filter('Size','XL')">XL</button></li>
      </ul>
    </div>
  </div>
<hr>
  <div class = "dropdown">
      <button (click) = "func3()">+Color</button>
      <div id = "drop3" class = "dropdown-content">
        <ul>
          <li><button class = "color" (click) = "filter('color','Red')">Red</button></li>
          <li><button class = "color" (click) = "filter('color','Blue')">Blue</button></li>
          <li><button class = "color" (click) = "filter('color','White')">White</button></li>
          <li><button class = "color" (click) = "filter('color','Pink')">Pink</button></li>
        </ul>
      </div>
    </div>
</div>
