.container{
    margin-left: 0%;
}
.category{
    margin-top: 550px;
    left:0;
    position: absolute;
    width:20%;
}
.body{
    margin-top:500px;
    right:0;
    position: absolute;
    width:80%;

}
